/*-- scss:defaults --*/

// fonts
$font-family: "Lucida Grande", Helvetica, Arial, Verdana, sans-serif !default;

// colors
$body-bg: #f0f1eb !default;
$body-color: #000 !default;
$link-color: #51483d !default;
$selection-bg: #26351c !default;

/*-- scss:rules --*/

.reveal a {
  line-height: 1.3em;
}

.reveal .slides > section > section { 
  text-align:left; 
}
